@model THWebBookStore.Models.SACH

@{
    ViewBag.Title = "Chi tiết Sách";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Chi tiết Sách</h2>
    <div class="card">
        <div class="card-header">
            <h4>@Html.DisplayFor(model => model.Tensach)</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/img/@Model.Anhbia" alt="@Model.Tensach" class="img-fluid" />
                </div>
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3">Tên sách</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Tensach)</dd>

                        <dt class="col-sm-3">Mô tả</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Mota)</dd>

                        <dt class="col-sm-3">Giá bán</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Giaban)</dd>

                        <dt class="col-sm-3">Số lượng tồn</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Soluongton)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
                <a href="@Url.Action("ThemGioHang", "GioHang", new {maSach = Model.Masach, url = Request.Url.ToString()})"> Đặt mua </a> |
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

<!-- Include Bootstrap CSS for styling -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
